<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.js"></script>
    <title>Welcome To PILOT DEPARTMENT</title>
</head>
<body class="login_bo">
  <header class="header" id="header">
    <div class="container">
      <figure class="logo_animated">
          <img class="logo_pic" src="/static/pic/logo_min.png">
      </figure>
        <h1 class="zs">中试部</h1>

      <ul class="we-create">
          <li class="list-inline">PILOT DEPARTMENT</li>
          <li class="list-inline">Your Product My Artwork</li>
      </ul>
      <a class="link_zhongshi" href="{% url 'index' %}">Welcome</a>
    </div>
  </header>
  <footer class="footer">
    <div class="container">
      <span class="copyright">Copyright &copy; 2018 PILOT DEPARTMENT. All Rights Reserved</span>
    </div>
  </footer>
</body>

</html>